		body{
			background-color: #c3c3c3;
		}
		h1{
			color: #bd2031; 
			font-family: monospace, Courier New; 
			font-size: 35px; 
			text-align: center;
			}
		h2{

			color: #bd2031; 
			font-family: serif, Times New Roman; 
			font-size: 20px; 
			text-align:center;
			}
		



